{% load static %}
{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'js/modal_change_password.js' %}"></script>
<script type="text/javascript" src="{% static 'js/return-button.js' %}"></script>
{% endblock %}
<div class="buttons">
	<div class="return-button">
		<button id="return-button" data-url="{% url 'modal' id %}">Вернуться назад</button>
	</div>	
</div>
<div class="modal-title">
	<a>Сменить пароль</a>
</div>
<div class="cards">
    <div class="card-item">
        <div class="card-item-title">
            <a>Новый пароль</a>
        </div>
        <div class="card-item-body">
            <input class="input-check" type="text" id="new-password" name="new-password" value=""/>
        </div>
    </div>
	<div class="card-item">
		<div class="card-item-title">
			<a>Запросить смену пароля при первом входе</a>
		</div>
		<div class="card-item-body">
			<input class="input-check" type="checkbox" id="password-change-required" />
		</div>
	</div>
</div>
<div class="buttons">
	<div class="change-button-result">
		<button id="change-button-result" data-url="{% url 'change-password-data' id %}" data-id="{{ id }}">Сменить</button>
	</div>
</div>
<div id="error-block">
</div>