{% load static %}
{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'js/modal_change_department.js' %}"></script>
{% endblock %}

<div class="modal-title">
    <a>Изменить параметры подразделения</a>
</div>
<div class="cards">
    <div class="card-item">
        <div class="card-item-block">
            <div class="card-item-title">
                <a>Название</a>
            </div>
            <div class="card-item-body">
                <input class="input-check-change" type="text" id="department-name-change" name="department-name-change" value="{{ name }}"/>
            </div>
        </div>
	</div>
	<div class="card-item">
        <div class="card-item-block">
            <div class="card-item-title">
                <a>Описание</a>
            </div>
            <div class="card-item-body">
                <input class="input-not-check-change" type="text" id="department-description-change" name="department-description-change" value="{{ description }}"/>
            </div>
        </div>
	</div>
	<div class="card-item">
        <div class="card-item-block">
            <div class="card-item-title">
                <a>Рассылка</a>
            </div>
            <div class="card-item-body">
                <input class="input-not-check-change" type="text" id="department-label-change" name="department-label-change" value="{{ label }}"/>
				<a>{{ domain }}</a>
            </div>
        </div>
	</div>
	<div class="card-item-block" id="modal-button">
        <div class="card-item-body">
            <button class="modal-change-department-button" id="modal-change-department-button" data-url="{% url 'change-department-data' id %}">Изменить</button>
        </div>
    </div>
</div>