{% load static %}
{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'js/modal_drop_2fa.js' %}"></script>
<script type="text/javascript" src="{% static 'js/return-button.js' %}"></script>
{% endblock %}
<div class="modal-title">
	<a>Сбросить двухфакторную авторизацию</a>
</div>
<div class="buttons">
	<div class="yes-button">
		<button id="drop-button-result" data-url="{% url 'drop-2fa-data' id %}" data-id="{{ id }}">>Да</button>
	</div>
	<div class="return-button">
		<button id="return-button" data-url="{% url 'modal' id %}">Отмена</button>
	</div>	
</div>